<% if @user %>
  <h2 class="media-heading">A Checklist for <%= @user.name %></h2>
  <div class="well">
    <div class="col-md-12">
      <ul class="list-group checked-list-box">
        <% @items.each do |item| %>
          <%= render partial: 'items/item', locals: { item: item} %>
        <% end %>
        <%= render partial: 'items/form', locals: { item: current_user.items.build, user: @user } %>
      </ul>
    </div>
  </div>
<% else %>
  <br>
  <div class="jumbotron">
    <h1>BloccitOff</h1>
    <p>BloccitOff is a self destructing checklist for all your todo's!</p>
    <p>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
  </div>
<% end %>
